.mdc-tab {
  height: 64px !important;
  font-weight: 500;
  display: block;
  line-height: 64px;
  letter-spacing: 0.5px;
}

.mdc-tab-indicator .mdc-tab-indicator__content--underline {
  border-top-width: 3px;
}

.mdc-tab-indicator .mdc-tab-indicator__content--underline {
   border-color: #0F7BBC;
}

.mdc-tab--active .mdc-tab__text-label {
  color: #0F7BBC;
  font-size: 18px;
}

.mdc-tab__ripple::before, .mdc-tab__ripple::after {
  background-color: #0F7BBC;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #b8c9d9;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
  border-color: #b8c9d9;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled):hover .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):hover .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):hover .mdc-notched-outline__trailing {
  border-color: #0F7BBC !important;
}

.mdc-dialog {
  display: block;
  z-index: -1;
}

.mdc-dialog .mdc-button__label {
  font-size: 18px;
}

.dialog--first-layer {
  z-index: 30;
}

.dialog--visible .mdc-dialog__scrim {
  opacity: 1;
}

.mdc-dialog__scrim {
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.mdc-dialog__container {
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.dialog--visible .mdc-dialog__container {
  opacity: 1;
}

.mdc-dialog__content {
  font-size: 20px;
}
